
language: php
php:
- '7'
- '5.6'
env:
- WP_VERSION=master
- WP_VERSION=4.5
- WP_VERSION=4.4
matrix:
  allow_failures:
  - env: WP_VERSION=4.4
  - env: WP_VERSION=4.5
  fast_finish: true
install:
- npm install
- composer install
- grunt init
cache:
  directories:
    - node_modules
    - vendor
before_script:
- mkdir -p /tmp/wordpress
- git clone --depth=1 --branch="$WP_VERSION" git://develop.git.wordpress.org/ /tmp/wordpress/
- theme_slug=$(basename $(pwd))
- theme_dir=/tmp/wordpress/src/wp-content/themes/$theme_slug
- cd ..
- mv $theme_slug $theme_dir
- cd /tmp/wordpress
- echo /tmp/wordpress
- cp wp-tests-config-sample.php wp-tests-config.php
- sed -i "s/youremptytestdbnamehere/wordpress_test/" wp-tests-config.php
- sed -i "s/yourusernamehere/root/" wp-tests-config.php
- sed -i "s/yourpasswordhere//" wp-tests-config.php
- mysql -e 'CREATE DATABASE wordpress_test;' -uroot
- cd $theme_dir
- phpenv rehash
script:
- npm test
notifications:
  email: false
  slack:
    secure: mS0AtQDBMEP2FaA67SxNkLetpcdnyJNKfW9OFT8Zn6Q+fW7k26+e2lYbzPLRugNjU/4ERskQVvfMmlOFzxP3mMZNQVGpSiloYwRwMdjw8duxCDa32mu//q2rP6nKoBR/tWu9SiX0YD39BmBBaXf8XA/mQp0oQXEPYtK7U8p2sFs=
sudo: false
