/*
 * The style used for the TinyMCE editor for posts, pages, etc.
 *
 * @package Flint
 */
 
@import url("css/bootstrap.min.css");

body {
  padding: 1em;
}
body,
button,
input,
select,
textarea {
  color: #404040;
}
b, strong {
  font-weight: 700;
}
img, video {
  padding-top: 5px;
  padding-bottom: 5px;
  max-width: 100%;
  height: auto;
}